NVIDIA_API_KEY=
NVIDIA_MODEL=
NVIDIA_TEXT_MODEL=nvidia/llama-3.3-nemotron-super-49b-v1.5
NVIDIA_VISION_MODEL=nvidia/nemotron-nano-12b-v2-vl
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
